@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", serif;
  --font-chewy: "Chewy", serif;
}

.navMenuItem {
  @apply relative font-chewy text-lg hover:text-amber-50 transition-all;
}
.navMenuItem::after {
  content: "";
  @apply absolute left-0 -bottom-1 w-0 h-0.5 bg-amber-50 transition-all;
}
.navMenuItem:hover::after {
  @apply w-[105%];
}

.button {
  @apply px-5 py-3 lg:px-6 lg:py-4 rounded-2xl text-base lg:text-xl font-roboto font-bold bg-amber-500 hover:bg-amber-600 cursor-pointer shadow-md;
}

.button2 {
  @apply px-5 py-3 lg:px-6 lg:py-4 rounded-2xl text-base lg:text-xl font-roboto font-bold bg-amber-100 hover:bg-amber-200 cursor-pointer shadow-md;
}

.button:disabled,
.button2:disabled {
  @apply bg-gray-400 cursor-not-allowed;
}

.input {
  @apply w-full px-4 py-2 bg-amber-50 focus:bg-amber-100 rounded-xl outline-amber-600 focus:outline-amber-700 outline-2 inset-shadow-sm;
}

.loading-spin {
  @apply w-10 h-10 border-slate-100 border-b-transparent border-4 rounded-full;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
